@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<main id="main">
    <section>
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 text-center mb-5">
                    <h1 class="page-title">About me</h1>
                </div>
            </div>

            <div class="row mb-5">

                <div class="d-md-flex post-entry-2 half">
                    <a href="#" class="me-4 thumbnail">
                        <img src="~/ZenBlog/assets/img/aurora1.jpg" alt="" class="img-fluid">
                    </a>
                    <div class="ps-md-5 mt-4 mt-md-0">
                        <div class="post-meta mt-4">About me</div>
                        <h2 class="mb-4 display-4">Company History</h2>

                        <p>Aurora Brickwell's journey into the vibrant world of LEGO began in her childhood, where her fascination for these colorful bricks ignited a lifelong passion. Spending countless hours constructing intricate structures and dreaming up fantastical worlds, Aurora's love for LEGO only deepened as she grew older. It was this unwavering passion that fueled her entrepreneurial spirit, leading her to found Brickwell Creations—a platform dedicated to empowering master builders worldwide.</p>
                        <p>As the founder of Brickwell Creations, Aurora is not just selling LEGO kits; she's shaping a community of creativity and innovation. With a vision to inspire and challenge builders of all ages and skill levels, Aurora meticulously curates each kit in her collection, ensuring that there's something for everyone. Her commitment to quality, innovation, and inclusivity is evident in every aspect of her work, from the design of the kits to the engaging workshops and competitions she hosts. Through her platform, Aurora Brickwell is not only building LEGO sets; she's building a legacy of empowerment and imagination that spans generations.</p>
                    </div>
                </div>

                <div class="d-md-flex post-entry-2 half mt-5">
                    <a href="#" class="me-4 thumbnail order-2">
                        <img src="~/ZenBlog/assets/img/aurora3.jpg" alt="" class="img-fluid">
                    </a>
                    <div class="pe-md-5 mt-4 mt-md-0">
                        <div class="post-meta mt-4">Mission &amp; Vision</div>
                        <h2 class="mb-4 display-4">Mission &amp; Vision</h2>

                        <p>At Brickwell Creations, our mission is to empower individuals of all ages to unleash their creativity and build their dreams through the power of LEGO. We believe that every brick holds the potential for endless imagination and innovation, and it's our passion to cultivate an environment where this potential can flourish. Whether you're a seasoned master builder or taking your first steps into the world of LEGO, we're here to provide you with the tools, inspiration, and support you need to turn your visions into reality.</p>
                        <p>Our vision is to create a global community of builders united by their love for LEGO and their boundless creativity. We envision a world where imagination knows no bounds, where every individual feels empowered to express themselves freely through their creations. Through our curated collection of LEGO kits, engaging workshops, and collaborative events, we strive to foster a culture of inclusivity, collaboration, and innovation. Together, let's build a brighter future—one brick at a time.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

</main><!-- End #main -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="~/ZenBlog/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/ZenBlog/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/ZenBlog/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/ZenBlog/assets/vendor/aos/aos.js"></script>
<script src="~/ZenBlog/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/ZenBlog/assets/js/main.js"></script>
