@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Order

<p>Welcome to the add order page.</p>

<form method="post">

    <label asp-for="Customer_Id">Customer Id</label>
    <input asp-for="Customer_Id" />
    <br />

    <label asp-for="Date">Date</label>
    <input asp-for="Date" />

    <br />
    <label asp-for="Day_Of_Week">Day of Week</label>
    <input asp-for="Day_Of_Week" />

    <br />
    <label asp-for="Time">Time</label>
    <input asp-for="Time" />

    <br />
    <label asp-for="Entry_Mode">Entry Mode</label>
    <input asp-for="Entry_Mode" />

    <br />
    <label asp-for="Amount">Amount</label>
    <input asp-for="Amount" />

    <br />
    <label asp-for="Type_Of_Transaction">Type of Transaction</label>
    <input asp-for="Type_Of_Transaction" />

    <br />
    <label asp-for="Country_Of_Transaction">Country of Transaction</label>
    <input asp-for="Country_Of_Transaction" />

    <br />
    <label asp-for="Shipping_Address">Shipping Address</label>
    <input asp-for="Shipping_Address" />

    <br />
    <label asp-for="Bank">Bank</label>
    <input asp-for="Bank" />

    <br />
    <label asp-for="Type_Of_Card">Type of Card</label>
    <input asp-for="Type_Of_Card" />

    <br />
    <label asp-for="Fraud">Fraud</label>
    <input asp-for="Fraud" />

    <br />
    <button type="submit">Submit</button>
</form>

<!--655286	16107	2023-12-31	Sun	23	158	ATM	United Kingdom	United Kingdom	Halifax	Visa	False-->