@{
    ViewData["Title"] = "Checkout";
}

<h2>Checkout</h2>

<form asp-controller="Home" asp-action="SubmitOrder" method="post">
    <!-- Customer Information -->
    <h4>Customer Information</h4>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter your First Name" required>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter your Last Name" required>
    </div>
    <div class="form-group">
        <label for="address">Country</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Enter your Shipping Country" required>
    </div>
    <hr>

    <!-- Order Details -->
    <h4>Order Details</h4>
    <div class="form-group">
        <label for="dateOfPurchase">Date of Purchase</label>
        <input type="text" readonly class="form-control-plaintext" id="dateOfPurchase" value="@DateTime.Now.ToShortDateString()">
    </div>
    <div class="form-group">
        <label for="purchaseAmount">Purchase Amount</label>
        <input type="text" readonly class="form-control-plaintext" id="purchaseAmount" value="@ViewBag.Subtotal">
        <input type="hidden" name="purchaseAmount" value="@ViewBag.Subtotal">
    </div>
    <div class="form-group">
        <label for="bank">Bank</label>
        <input type="text" class="form-control" id="bank" name="bank" placeholder="Enter bank" required>
    </div>
    <div class="form-group">
        <label for="cardType">Type of Card</label>
        <select class="form-control" id="cardType" name="cardType" required>
            <option value="">Select card type</option>
            <option value="Visa">Visa</option>
            <option value="Mastercard">Mastercard</option>
        </select>
    </div>

    <hr>

    <button type="submit" class="btn btn-success">Submit Order</button>
</form>


