@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<INTEXII.Models.Product>

<body>
    <!-- ======= Header ======= -->

    <main id="main">

        <!-- ======= Hero Slider Section ======= -->
        <section id="hero-slider" class="hero-slider">
            <div class="container-md" data-aos="fade-in">
                <div class="row">
                    <div class="col-12">
                        <div class="swiper sliderFeaturedPosts">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="~/ZenBlog/single-post.cshtml" class="img-bg d-flex align-items-end" style="background-image: url('ZenBlog/assets/img/typewriter.jpg');">
                                        <div class="img-bg-inner">
                                            <h2>Typewriter</h2>
                                            <p>The typewriter LEGO set beautifully combines nostalgia and craftsmanship, capturing the essence of a bygone era with its intricate design and functional details.</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="~/ZenBlog/single-post.cshtml" class="img-bg d-flex align-items-end" style="background-image: url('ZenBlog/assets/img/paris.jpg');">
                                        <div class="img-bg-inner">
                                            <h2>Paris</h2>
                                            <p>The Architecture Paris LEGO set elegantly showcases the timeless beauty of the city's architectural marvels, from the majestic Louvre Pyramid to the graceful arcs of the Arc de Triomphe, offering builders a sophisticated homage to Parisian grandeur in miniature form.</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="~/ZenBlog/single-post.cshtml" class="img-bg d-flex align-items-end" style="background-image: url('ZenBlog/assets/img/madrigal.jpg');">
                                        <div class="img-bg-inner">
                                            <h2>Casa Madrigal</h2>
                                            <p>The LEGO Casa Madrigal set invites builders into the vibrant world of Disney's "Encanto," capturing the colorful charm and magic of the Colombian village with its intricately designed buildings and beloved characters, inspiring imagination and storytelling in every brick.</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="~/ZenBlog/single-post.cshtml" class="img-bg d-flex align-items-end" style="background-image: url('ZenBlog/assets/img/chopper.jpg');">
                                        <div class="img-bg-inner">
                                            <h2>Surveillance Chopper</h2>
                                            <p>The LEGO Surveillance Chopper set combines sleek design with advanced functionality, offering builders the thrill of high-tech espionage as they assemble a detailed model complete with rotating blades, surveillance equipment, and a team of elite minifigure operatives ready to embark on daring missions.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="custom-swiper-button-next">
                                <span class="bi-chevron-right"></span>
                            </div>
                            <div class="custom-swiper-button-prev">
                                <span class="bi-chevron-left"></span>
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Hero Slider Section -->
        <section id="aurora-bricks" class="aurora-bricks">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 class="section-title">Discover Aurora Bricks</h1>
                        <br />
                        <div class="section-description">
                            <p>
                                Welcome to Aurora Bricks, the premier destination for LEGO enthusiasts and master builders alike. Immerse yourself in a world of endless creativity and boundless imagination with our vast collection of LEGO kits.

                                At Aurora Bricks, we curate an extensive selection of LEGO sets, ranging from iconic landmarks and architectural marvels to fantastical realms and beloved movie scenes. Whether you're a seasoned builder seeking a new challenge or a beginner exploring the magic of LEGO, you'll find something to inspire and delight you here.
                            </p>
                            <p>
                                Our commitment to quality ensures that every LEGO set we offer meets the highest standards of craftsmanship and innovation. From intricate details to immersive storytelling, each kit invites you to embark on a journey of creativity and discovery.

                                Join our vibrant community of builders and share your passion for LEGO. Connect with fellow enthusiasts, exchange ideas, and showcase your creations. Whether you're building solo or collaborating with others, Aurora Bricks is your ultimate companion on your LEGO adventure.
                            </p>
                            <p>
                                Ready to elevate your building experience? Explore Aurora Bricks today and unlock a world of endless possibilities.
                            </p>
                        </div>
                        <a asp-controller="Home" asp-action="Products" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
        </section><!-- End Aurora Bricks Section -->
        <!-- ======= Recommended Items Section ======= -->
        <section id="recommended-items" class="recommended-items">
            <div class="container" data-aos="fade-up">
                <div class="section-title text-center">
                    @if (ViewData["Recommendations"] != null)
                    {
                        <h2>Recommended for You</h2>
                        <p>Explore our top picks to complement your creativity.</p>
                    }
                    else
                    {
                        <h2>Explore Fan Favorites</h2>
                        <p>Discover our most popular items loved by LEGO enthusiasts.</p>
                    }
                </div>
                <div class="row justify-content-center">
                    @if (ViewData["Recommendations"] != null)
                    {
                        var recommendations = ViewData["Recommendations"] as List<UserRec>;
                        foreach (var recommendation in recommendations)
                        {
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="recommended-item text-center">
                                    <a href="link-to-item-1">
                                        <img src="@recommendation.RecommendationUrl" alt="@recommendation.RecommendationName" class="img-fluid">
                                        <h3>@recommendation.RecommendationName</h3>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <!-- Default items if no recommendations found -->
                        <!-- Item 1 -->
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="recommended-item text-center">
                                <a href="link-to-item-1">
                                    <img src="https://www.lego.com/cdn/cs/set/assets/bltfa6c9196a514bb03/31157.png?format=webply&fit=bounds&quality=75&width=800&height=800&dpr=1" alt="Item 1" class="img-fluid">
                                    <h3>Exotic Peacock</h3>
                                </a>
                                <p>Short description of Item 1.</p>
                            </div>
                        </div>
                        <!-- Item 2 -->
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="recommended-item text-center">
                                <a href="link-to-item-2">
                                    <img src="https://www.lego.com/cdn/cs/set/assets/blt2ab62c2c368f72f6/31152.png?format=webply&fit=bounds&quality=75&width=800&height=800&dpr=1" alt="Item 2" class="img-fluid">
                                    <h3>Space Astronaut</h3>
                                </a>
                                <p>Short description of Item 2.</p>
                            </div>
                        </div>
                        <!-- Item 3 -->
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="recommended-item text-center">
                                <a href="link-to-item-3">
                                    <img src="https://www.lego.com/cdn/cs/set/assets/bltde655e8359417b7d/43217.png?format=webply&fit=bounds&quality=75&width=800&height=800&dpr=1" alt="Item 3" class="img-fluid">
                                    <h3>Up House</h3>
                                </a>
                                <p>Short description of Item 3.</p>
                            </div>
                        </div>
                        <!-- Item 4 -->
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="recommended-item text-center">
                                <a href="link-to-item-4">
                                    <img src="https://www.lego.com/cdn/cs/set/assets/blt47c94c595257dd3a/76429.png?format=webply&fit=bounds&quality=75&width=800&height=800&dpr=1" alt="Item 4" class="img-fluid">
                                    <h3>Talking Sorting Hat</h3>
                                </a>
                                <p>Short description of Item 4.</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>

        <!-- End Recommended Items Section -->





        
    </main><!-- End #main -->

</body>