@{
    ViewData["Title"] = "Order Confirmed";
}

@model ProjectsListViewModel


<h2>Thank you!</h2>

<h3>Your order has been placed and will ship in the next 3-5 business days.</h3>

<div>
    <a asp-controller="Home" asp-action="Index"><button type="button">Back to Home</button></a>
</div>